<html>
    <head>

    </head>
    
    <body>
    <!-- Navigation -->
	            <nav class="navbar navbar-default navbar-fixed-top">
	              <div class="container">
	                <!-- Brand and toggle get grouped for better mobile display -->
	                <div class="navbar-header">
	                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                  </button>
	                  <a href="/"><h3>법과사전</h3></a>
	                  <!--<a class="navbar-brand" href="#"><img src="images/logo.png" alt=""></a>-->
	                </div>

	                <!-- Collect the nav links, forms, and other content for toggling -->
	                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                  <ul class="nav navbar-nav navbar-right">
	                    <li><a href="/region">지역별</a></li>
	                    <li><a href="/field">분야별</a></li>
	                    <li><a href="/profile">개인별</a></li>
	                    <li><a href="/board">게시판</a></li>
	                    <li><a href="/contact">문의</a></li>
	                  </ul>
	                </div><!-- /.navbar-collapse -->
	              </div><!-- /.container -->
	            </nav> 
	<div>         
    <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
    </ol>  	            
	</div>
	
	<div id="wrapper">
	        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="top: 70px;">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">법과사전</a>
                </li>
                <li>
                    <a href="#">환경 노동</a>
                </li>
                <li>
                    <a href="#">문화 체육</a>
                </li>
                <li>
                    <a href="#">국토 교통</a>
                </li>
                <li>
                    <a href="#">보건 복지</a>
                </li>
                <li>
                    <a href="#">여성 가족</a>
                </li>
                <li>
                    <a href="#">선거 정치</a>
                </li>

            </ul>
        </div>
	</div>            
	
	<div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>분야별 법안 정보</h1>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">메뉴버튼</a>
                    </div>
                </div>
            </div>
        </div>
	
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>	
	
	
    </body>
</html>