<form action="/create" method="POST">
    <h1>제목 : <input type="string" name="input_title" value=""></h1> <br>
    <h1>작성자 : <input type="string" name="input_editor" value=""></h1> <br>
    <h1>내용 : <input type="text" name="input_content" placeholder="의견을 적어주세요!"></h1> <br>
    <input type="submit" value="작성하기"> <br>
    <hr>
</form>