<html>
    <head>
        
    </head>
    
    <body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
	              <div class="container">
	                <!-- Brand and toggle get grouped for better mobile display -->
	                <div class="navbar-header">
	                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                  </button>
	                  <a href="/"><h3>법과사전</h3></a>
	                  <!--<a class="navbar-brand" href="#"><img src="images/logo.png" alt=""></a>-->
	                </div>

	                <!-- Collect the nav links, forms, and other content for toggling -->
	                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                  <ul class="nav navbar-nav navbar-right">
	                    <li><a href="/region">지역별</a></li>
	                    <li><a href="/field">분야별</a></li>
	                    <li><a href="/profile">개인별</a></li>
	                    <li><a href="/board">게시판</a></li>
	                    <li><a href="/contact">문의</a></li>
	                  </ul>
	                </div><!-- /.navbar-collapse -->
	              </div><!-- /.container -->
	            </nav>   
	            
	      
	<!--  지도사진 입니다. -->
	<h2 style="margin-left: 70px; margin-top: 100px">지역별 국회의원</h2>
    <div class="container" style="margin-top:50px; margin-left:260px; margin-right:260px;">
	  	
	  	<!-- info -->
	    <h4>지도를 클릭하시면, 해당하는 국회의원을 보실 수 있습니다.</h4>
	    <!-- map -->
	    	<div class="map_img" style="margin-top:40px">
	    		<p><img src="http://sge.ssp.re.kr/images/sub/map.gif" alt="전국지도" id="myMap" usemap="#map">
	    			<map name="map" id="map">
	    				<area shape="poly" coords="492,371,496,400,498,408,533,420,553,428,565,450,582,479,596,477,600,472,594,464,602,465,610,468,628,451,629,442,637,435,648,416,636,403,622,403,612,401,613,387,619,377,627,362,635,351,636,337,642,325,659,322,676,324,685,312,680,301,677,294,677,283,673,272,668,256,664,249,651,252,642,261,626,269,609,270,595,277,584,289,577,308,570,324,561,338,551,350,537,367,524,374,507,375,491,374" href="#1" alt="강동·송파교육지원청" id="iframe_gangdong" onclick="javascript:goView(this.id);">
	    				<area shape="poly" coords="490,371,440,350,431,349,420,353,385,383,361,398,347,400,344,400,353,414,351,424,351,443,351,470,359,481,361,499,375,492,381,482,391,481,393,492,399,502,411,502,423,501,431,484,435,487,438,503,439,522,433,536,439,541,451,541,458,559,481,558,498,554,507,538,505,527,515,531,522,531,531,520,534,509,548,496,558,490,566,497,573,494,580,479,551,429,498,409,490,372,488,371" href="#2" alt="강남교육지원청" id="iframe_gangnam" onclick="javascript:goView(this.id);">
	    				<area shape="poly" coords="336,397,318,392,293,378,289,375,278,379,261,379,252,401,247,415,234,421,223,438,213,455,220,454,232,453,233,469,236,483,239,498,253,500,271,525,280,537,290,538,297,534,318,536,325,533,325,522,340,516,352,507,360,500,358,482,351,471,350,423,352,415,342,399" href="#3" alt="동작·관악교육지원청" id="iframe_dongjak" onclick="javascript:goView(this.id);">
	    				<area shape="poly" coords="104,393,91,395,87,411,77,416,73,419,74,428,82,430,86,439,83,464,96,466,104,463,114,466,127,463,128,452,140,449,152,435,164,425,168,425,172,439,174,451,184,468,189,484,190,500,195,505,202,508,207,517,207,530,218,546,232,546,246,534,261,513,253,501,238,500,236,490,234,479,230,455,211,456,227,430,236,419,245,415,260,378,248,372,240,360,234,344,217,328,200,313,195,310,185,314,192,326,200,341,198,350,188,356,183,361,183,376,184,380,176,395,165,400,152,395,142,391,132,391,127,396,114,403" href="#4" alt="남부교육지원청" id="iframe_nambu" onclick="javascript:goView(this.id);">
	    				<area shape="poly" coords="142,267,118,253,91,236,72,219,57,204,51,209,56,224,55,233,46,240,40,253,29,260,26,266,21,273,20,283,17,289,8,293,3,299,9,309,22,319,40,325,44,328,42,339,45,344,52,341,58,330,65,324,73,330,87,332,90,334,90,347,93,352,100,354,100,362,94,370,93,393,104,392,115,402,123,398,131,391,138,390,148,392,165,399,176,394,182,379,183,359,196,350,199,342,185,315,190,311,194,309" href="#5" alt="강서교육지원청" id="iframe_gangseo" onclick="javascript:goView(this.id);">
	    				<area shape="poly" coords="279,346,257,332,237,328,202,301,174,279,158,266,157,259,169,257,177,253,177,233,193,222,199,229,215,224,218,216,216,180,223,169,225,158,231,130,237,121,249,119,261,112,269,106,276,104,288,93,296,98,305,102,313,106,315,120,320,124,325,128,327,138,328,144,331,146,320,153,313,156,307,160,299,161,297,166,298,176,299,185,297,193,303,199,301,208,304,211,312,214,313,226,309,243,308,253,303,258,309,266,316,273,324,282,326,287,322,292,318,298,317,305,318,309,318,318,310,323,309,328,308,334,305,338,287,341,287,343" href="#6" alt="서부교육지원청" id="iframe_seobu" onclick="javascript:goView(this.id);">
	    				<area shape="poly" coords="282,346,297,359,308,371,326,378,344,383,357,383,371,377,397,353,404,346,406,337,405,331,395,332,393,323,400,317,404,308,408,302,415,298,420,291,421,284,418,273,417,261,407,254,393,250,388,240,381,233,377,226,366,227,360,228,351,220,340,214,348,208,355,203,353,188,350,177,346,169,344,159,340,152,338,144,332,145,327,150,318,155,309,160,299,162,298,168,300,177,298,189,299,192,304,199,303,208,309,212,314,216,312,237,309,250,305,260,310,265,318,273,324,280,328,287,321,294,319,303,319,310,319,316,315,320,311,326,310,333,307,338,300,341,293,341,288,343" href="#7" alt="중부교육지원청" id="iframe_joongbu" onclick="javascript:goView(this.id);">
	    				<area shape="poly" coords="390,36,381,37,374,39,368,45,362,52,364,60,366,67,365,75,357,79,353,83,352,89,345,95,345,107,349,113,352,121,353,128,353,135,345,141,339,144,342,153,346,162,348,170,351,177,353,183,354,189,356,197,356,204,350,208,344,212,342,215,348,217,361,228,357,223,360,226,368,226,373,225,379,226,380,228,385,236,390,240,395,250,396,249,401,250,408,254,417,259,416,257,425,250,430,244,437,231,446,220,453,219,459,212,464,213,472,215,478,209,485,202,496,198,497,180,492,183,485,183,478,183,472,177,463,171,457,163,448,152,439,146,435,141,435,133,429,128,421,120,415,114,402,113,397,108,395,101,398,97,400,93,401,84,405,77,406,71,403,63,399,55,395,51,392,49,392,42" href="#8" alt="성북교육지원청" id="iframe_seongbuk" onclick="javascript:goView(this.id);">
	    				<area shape="poly" coords="419,270,421,280,422,288,420,293,414,300,409,303,405,309,402,315,394,324,396,329,398,332,403,330,407,331,407,336,406,344,415,338,424,334,434,334,442,335,453,340,464,346,479,355,492,359,504,363,514,363,522,360,531,350,539,343,545,335,552,326,559,317,561,307,565,302,566,295,562,293,557,295,553,300,549,301,544,297,544,289,545,282,546,273,544,265,538,267,533,270,529,274,524,276,520,272,514,272,507,271,506,275,503,284,500,291,497,294,485,292,474,289,464,282,455,271,448,268,439,270,433,273,426,272" href="#9" alt="성동·광진교육지원청" id="iframe_seongdong" onclick="javascript:goView(this.id);">
	    				<area shape="poly" coords="417,258,418,265,420,269,424,271,431,272,435,271,441,268,448,266,452,269,457,274,461,279,465,281,469,284,473,288,482,290,492,292,497,293,500,289,503,282,505,275,507,270,509,269,512,271,520,271,525,275,529,273,537,267,543,264,546,255,552,248,557,240,559,232,562,228,568,225,570,219,565,213,569,206,569,194,568,183,566,173,560,170,552,171,547,170,541,175,535,179,527,179,522,173,515,171,508,174,499,180,498,185,497,192,498,196,494,200,484,203,481,208,478,210,471,217,468,215,461,213,456,217,454,221,451,220,447,220,442,227,437,232,436,237,433,240,427,249,423,252,421,255" href="#10" alt="동부교육지원청" id="iframe_dongbu" onclick="javascript:goView(this.id);">
	    				<area shape="poly" coords="428,8,421,5,413,6,405,4,398,9,390,16,390,25,390,33,391,36,393,40,391,47,397,52,400,55,403,63,405,70,407,76,401,83,401,88,401,95,395,100,397,106,401,111,405,113,412,113,416,115,423,120,428,126,433,130,436,135,435,142,438,143,445,150,450,152,455,159,460,165,464,171,471,175,477,183,485,182,493,182,498,178,503,175,511,172,517,170,522,171,526,177,530,178,534,178,540,175,544,170,547,169,550,162,555,155,559,150,564,145,563,136,559,126,553,121,546,121,539,122,533,120,531,113,530,105,528,99,515,100,523,95,531,90,534,83,532,72,531,63,531,57,526,50,530,42,531,35,527,26,523,26,516,25,513,23,513,16,508,14,502,14,497,17,492,20,484,19,477,20,474,26,471,30,466,33,462,27,456,23,451,19,445,16,440,21,433,23,429,18,429,10" href="#11" alt="북부교육지원청" id="iframe_bukbu" onclick="javascript:goView(this.id);">
	    			</map>
	    		</p>
			</div>
	</div>
</body>
</html>
