    <!-- Navigation -->
	            <nav class="navbar navbar-default navbar-fixed-top">
	              <div class="container">
	                <!-- Brand and toggle get grouped for better mobile display -->
	                <div class="navbar-header">
	                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                  </button>
	                  <a href="/"><h3>법과사전</h3></a>
	                  <!--<a class="navbar-brand" href="#"><img src="images/logo.png" alt=""></a>-->
	                </div>

	                <!-- Collect the nav links, forms, and other content for toggling -->
	                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                  <ul class="nav navbar-nav navbar-right">
	                    <li><a href="/region">지역별</a></li>
	                    <li><a href="/field">분야별</a></li>
	                    <li><a href="/profile">개인별</a></li>
	                    <li><a href="/board">게시판</a></li>
	                    <li><a href="/contact">문의</a></li>
	                  </ul>
	                </div><!-- /.navbar-collapse -->
	              </div><!-- /.container -->
	            </nav> 

<div class="container" style="padding-top:50pt">
	    <p><h3>성북구</h3></p>
    	<table class="table">
          <thead class="thead-default">
            <tr>
              <th>지역</th>
              <th>국회의원 이름</th>
              <th>법안 별명</th>
              
            </tr>
          	</thead>
            <tbody>
	            <tr>
	                <td>성북구갑</td>
	                <td>유승희</td>
	                <td>여자화장실변기법</td>
	            </tr>
	            <tr>
	                <td></td>
	                <td></td>
	                <td>교통약자보호법</td>
	            </tr>
	            <tr>
	                <td>성북구을</td>
	                <td>기동민</td>
	                <td>동물번식장법</td>
	            </tr>
	            <tr>
	                <td></td>
	                <td></td>
	                <td>학교급식위생보호법</td>
	            </tr>
            </tbody>
          </tbody>
        </table>
        <a href="/region">전 화면으로 돌아가기</a>
    </div>